*.o
*.a
*.lo
*.la
*.m4
lzma
lzmadec
lzmainfo
depcomp
libtool
install-sh
ltmain.sh
stamp-h1
test-driver
m4
config.*
configure
compile
missing
.deps
.libs
Makefile
Makefile.in
autom4te.cache

.buckd
buck-out
.buckconfig.local
.buckconfig.d
buckaroo
buckaroo_macros.bzl
